.title {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("/Users/romanerobb/Desktop/Dasmoto's Arts & Crafts/Resources/pattern.jpeg");
}

.brushes {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}

.frames {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
}

.paint {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;
}

h1, h2, h3, p {
    font-family: "Helvetica", sans-serif;
}

.price {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}